<% include head %>


  <body>
  <div class="show">
    <div class="container text-center" style="font-size:1em">
      <div>
        <a href="/" style="float:right;">返回首页</a>
        <h1 style="font-size:2em"><%= title %></h1>
      </div>

      <table class="table table-hover table-condensed mytable">
        <tr class="active">
          <th class="text-center col-md-2 col-md-2 col-lg-2 col-xs-1">Name</th>
          <th class="text-center col-md-2 col-md-2 col-lg-2 col-xs-1">Age</th>
          <th class="text-center col-md-2 col-md-2 col-lg-2 col-xs-1">QQ</th>
          <th class="text-center col-md-2 col-md-2 col-lg-2 col-xs-1" >Email</th>
          <th class="text-center col-md-2 col-md-2 col-lg-2 col-xs-1">City</th>
          <th class="text-center col-md-2 col-md-2 col-lg-2 col-xs-1">操作</th>
        </tr>
        <% infos.forEach(function(e){ %>
          <tr>

            <td class="col-md-2 col-xs-2 col-lg-2 col-xs-1">
              <%= e.user %>
            </td>

            <td class="col-md-2 col-xs-2 col-lg-2 col-xs-1">
              <%= e.Age %>
            </td>

            <td class="col-md-2 col-xs-2 col-lg-2 col-xs-1">
              <%= e.QQ %>
            </td>

            <td class="col-md-2 col-xs-2 col-lg-2 col-xs-1 myemail"  >
              <%= e.Email %>
            </td>

            <td class="col-md-2 col-xs-2 col-lg-2 col-xs-1">
              <%= e.Home %>
            </td>

            <td class="col-md-2 col-xs-2 col-lg-2 col-xs-2" style="min-width:55px;" >
              <form action="/update" method="get" style="display:inline-block;" >
                <input type="hidden" name="id" value=<%= e.id %> >
                <button style="submit">修改</button>
              </form>
              <form action="/show" method="post" style="display:inline-block;" >
                <input type="hidden" name="id" value=<%= e.id %> >
                <button type="submit">删除</button>
              </form>
            </td>

          </tr>
          <% }); %>

      </table>


    </div>
  </div>
      <script>
         var socket = io();
         socket.on('msg', function(e){
           console.log(e);
             $('.active').after('<tr>'
            +'<td class="col-md-2 col-xs-2 col-lg-2">'
                  +  e.user +
                 '</td>'+

                 '<td class="col-md-2 col-xs-2 col-lg-2">'+
                    e.Age +
                ' </td>'+

                ' <td class="col-md-2 col-xs-2 col-lg-2">'+
                    e.QQ +
                 '</td>'+


                 '<td class="col-md-2 col-xs-2 col-lg-2">'+
                    e.Email +
                ' </td>'+

                 '<td class="col-md-2 col-xs-2 col-lg-2">'+
                    e.Home +
                ' </td>'+

                 '<td class="col-md-2 col-xs-2 col-lg-2" style="min-width:115px;">'+
                  ' <form action="/update" method="get" style="display:inline-block;">'+
                     '<input type="hidden" name="id" value='+
                     e.id  +
                     '>'+
                  '<button style="submit">修改</button>'+
                  '</form>'+
                  ' <form action="/show" method="post" style="display:inline-block;">'+
                     '<input type="hidden" name="id" value='+
                     e.id  +
                     '>'+
                     '<button type="submit">删除</button>'+
                   '</form>'+
                 '</td>'+
               '</tr>');
         });
      </script>

  </body>

  </html>
